<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>
      <add key="OAuthConsumerKey" value="4pi7pGVpoOsrZjor2vDOd5Yu5" />
      <add key="OAuthConsumerSecret" value="37A5dyGKUJQHvGU4w3757dj2N3Etcz1Srzyi9UjjOl36gA2Wm1" />
      <add key="TwitterOAuthAPI" value="https://api.twitter.com/oauth2/token" />
      <add key="TwitterUserTimelineAPI" value="https://api.twitter.com/1.1/statuses/user_timeline.json" />
    </appSettings>

    <connectionStrings>

    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
